

<!-- <table class="styled-table">
    <ng-container *ngFor="let group of studentList">
        <tr class="active-row">
          <td><h2>{{group.id}}</h2></td>
          <td><h2>{{group.name}}</h2></td>
        </tr>

    </ng-container>
</table> -->

<table class="styled-table">
  <thead>
      <tr>
          <th>ID</th>
          <th>Name</th>
      </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let group of studentList">
      <tr class="active-row">
        <td><h2>{{group.id}}</h2></td>
        <td><h2>{{group.name}}</h2></td>
      </tr>

    </ng-container>

      <!-- and so on... -->
  </tbody>
</table>


